@page "/"

<HomepageBanner/>

<!-- Section-->
<section class="py-5">
    <div class="container">
        <div class="row">
            @if (receivedMovies)
            {
               <MovieRow MovieData="MovieData" />
            }
            
        </div>
    </div>
</section>

@code{

    [Inject]
    private HttpClient Http { get; set; }

    [Inject]
    NavigationManager NavManager { get; set; }

    [Inject]
    IConfiguration Configuration { get; set; }

    private MovieModel Movie { get; set; }
    private List<MovieModel> MovieData { get; set; }

    private bool receivedMovies = false;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var result = await Http.GetFromJsonAsync<List<MovieModel>>($"{Configuration["apiUrl"]}/movies/featured");
            MovieData = result;
            receivedMovies = true;
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }

    }

}