
.carousel .carousel-indicators button {
    background-color: rgba(70, 70, 70, 0.9);
}

.carousel .carousel-indicators .active {
    background-color: #444;
}

#headerCarousel > button.carousel-control-prev,
#headerCarousel > button.carousel-control-next,
#carousel1 > button.carousel-control-prev,
#carousel1 > button.carousel-control-next,
#carousel2 > button.carousel-control-prev,
#carousel2 > button.carousel-control-next,
#carousel3 > button.carousel-control-prev,
#carousel3 > button.carousel-control-next {
    background-color: rgba(70, 70, 70, 0.7);
}

#headerCarousel > button.carousel-control-next,
#carousel1 > button.carousel-control-next,
#carousel2 > button.carousel-control-next,
#carousel3 > button.carousel-control-next {
    width: 4%;
}

#headerCarousel > button.carousel-control-prev,
#carousel1 > button.carousel-control-prev,
#carousel2 > button.carousel-control-prev,
#carousel3 > button.carousel-control-prev {
    width: 4%;
}
