@inherits LayoutComponentBase

<div class="page">

    <SideBar />

    <main>
        <TopBar />
        <article  class="container-fluid px-4">
            @Body
            <Footer />
        </article>
      
    </main>

    <LogoutModal />
</div>
