@inject IJSRuntime JSRuntime


<link href="css/custom/misc.css" rel="stylesheet" />


<div class="carousel-wrap mt-4 mb-2">
        <div class="owl-carousel standardCarousel p-0">

            <div class="item">
                <iframe class="homepageBannerIframe" src="https://www.youtube.com/embed/a8Gx8wiNbs8" ></iframe>
                <div class="carousel-caption d-none d-md-block">
                <h5>Avatar 2: The Way of Water</h5>
                <p>The latest trailer for the high anticipated sequel to Avatar.</p>
                </div>
            </div>

            <div class="item">
              <a href="https://www.empireonline.com/movies/news/christopher-walken-playing-emperor-shaddam-iv-in-dune-part-two/"><img src="/OtherImgs/walken.jpg" class="d-block homepageBannerImg rounded" alt="..."></a>
              <div class="carousel-caption d-none d-md-block">
                <h5>"He who controls the spice, controls the universe."</h5>
                <p>Christopher Walken to play Emperor Shaddam IV in Dune: Part Two</p>
              </div>
            </div>

            <div class="item">
                <iframe class="homepageBannerIframe" src="https://www.youtube.com/embed/gim2kprjL50" ></iframe>
                <div class="carousel-caption d-none d-md-block">
                <h5>Grrrrrrr!</h5>
                <p>The Incredible Hulk's cousin, She-Hulk, has had the trailer for her show released.</p>
              </div>
            </div>
            
        </div>
    </div>

@code {

    protected async override Task OnAfterRenderAsync(bool firstRender)
    {
      await JSRuntime.InvokeAsync<string>("sliderFunctions.startStandardSlider", null);
      //return base.OnAfterRenderAsync(firstRender);
    }

}
