<link href="css/custom/movieItem.css" rel="stylesheet" />   
     

<div class="card d-inline-flex w-100">
    
    @if (moviePosterPath == null)
    {
        <a href="/movie/@Movie.Id" ><img class="card-img-top movieItemImg" src="OtherImgs/posterPlaceholder.jpg" alt="There should be a movie thumbnail here."/></a>
    }
    else {
        <a href="/movie/@Movie.Id" ><img class="card-img-top movieItemImg" src="@($"https://www.themoviedb.org/t/p/w300{moviePosterPath}")" alt="There should be a movie thumbnail here."/></a>
    }
            

    
    <div class="card-body movieItemBody">
        <div class="text-center">

            
            <p class="fw-bolder">@Movie?.Title</p>

        </div>
    </div>

    
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/movie/@Movie.Id">View Movie</a></div>
    </div>

</div>


@code {

    [Parameter]
    public MovieModel Movie { get; set; }

    [Inject]
    private HttpClient Http { get; set; }

    [Inject]
    IConfiguration Configuration { get; set; }

    private string moviePosterPath { get; set; }

    protected override async Task OnInitializedAsync()
    {
        try
        {
            JsonMovie result = await Http.GetFromJsonAsync<JsonMovie>($"https://api.themoviedb.org/3/movie/{Movie.ImdbId}?api_key={Configuration["externalTmdbApiKey"]}");
            moviePosterPath = result.poster_path;
        }
        catch
        {
            moviePosterPath = null;
        }
        
    }

}
