<link href="css/custom/movie.css" rel="stylesheet" />   
     

<div class="card movieItem d-inline-flex">
    
    
    <a href="/movie/@Movie.Id" ><img class="card-img-top movieItemImg" src="testmovieThings/testImage.jpg" alt="There should be a movie thumbnail here."/></a>

    
    <div class="card-body movieItemBody">
        <div class="text-center">

            
            <p class="fw-bolder">@Movie?.Title</p>

            
           

        </div>
    </div>

    
    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="/movie/@Movie.Id">View Movie</a></div>
    </div>

</div>


@code {

    [Parameter]
    public MovieModel Movie { get; set; }

}
