<link href="css/custom/NavBar.css" rel="stylesheet" /> 

<nav class="navbar navbar-expand-lg navbar-light border-bottom-1">
    <div class="container-fluid px-4 px-lg-5">

        <a class="navbar-brand" href="/">Taylor's Movie Database</a>
        
        @* Self explantory *@
        <SearchBar/>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" 
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-between ms-2 border-2 border-top-0 border-bottom-0 border-end-0 border-dark" id="navbarSupportedContent">

            <div  class="nav-item ms-2" >
                <NavLink class="nav-link text-reset d-inline px-2 border-1 rounded" href="movies" Match="NavLinkMatch.All">Movies</NavLink>
                <NavLink class="nav-link text-reset d-inline px-2 border-1 rounded ms-1" href="movies" Match="NavLinkMatch.All">Movies</NavLink>
                <NavLink class="nav-link text-reset d-inline px-2 border-1 rounded ms-1" href="movies" Match="NavLinkMatch.All">Movies</NavLink>
            </div>
            

            <div class="btn-group ">
              <div class="userMenuVanish" type="button" id="dropdownMenuClickableInside" data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                  <Icon Name="IconName.Users" IconSize="IconSize.x2"></Icon>
              </div>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuClickableInside">
                <div class="">

                    <Switch TValue="bool" Checked="@isChecked" CheckedChanged="@OnThemeColorChanged" ></Switch>
                    <p class="d-inline" >Light/Dark Mode</p>

                    <NavBarUserBtns />

                </div>
              </div>
            </div>


            @* Light / Dark mode switch *@
            <div class="d-lg-none card">

                <NavBarUserBtns />
                
                <div class="ms-2 card-footer">
                    <Switch TValue="bool" Checked="@isChecked" CheckedChanged="@OnThemeColorChanged"><p class="d-inline" >Light/Dark Mode</p></Switch>
                </div>
                

                

            </div>

        </div>

    </div>
</nav>



@code {

    private bool isChecked;


    Task OnThemeColorChanged(bool value)
    {
        isChecked = value;

        if ( isChecked )
        {
            Theme.ColorOptions.Primary = "#000000";
            Theme.ColorOptions.Secondary = "#FFFFFF";
        }
        else if ( !isChecked )
        {
            Theme.ColorOptions.Primary = "#FFFFFF";
            Theme.ColorOptions.Secondary = "#000000";
        }

        Theme.ThemeHasChanged();

        return Task.CompletedTask;
    }

    [CascadingParameter] Theme Theme { get; set; }

}
