@inject NavigationManager Navigation

@if (IsAuthenticated == true)
{
    <h1>Access Denided</h1>
}

@code {

    [CascadingParameter] protected Task<AuthenticationState> AuthStat { get; set; }

    private bool IsAuthenticated { get; set; }

    // Known bug occurs when using synchronous version. Warning is to be ignored unless bug is fixed.
    protected override async Task OnInitializedAsync()
    {
        var user = (await AuthStat).User;
        if(user.Identity.IsAuthenticated)
        {
            IsAuthenticated = true;
        }
        else
        {
            Navigation.NavigateTo($"/login?redirectUri={Uri.EscapeDataString(Navigation.Uri)}", true);
        }

    }

}
