@using System.Timers;
@implements IDisposable;

<link href="css/custom/NavBar.css" rel="stylesheet" />

 <EditForm Model="FormModel" OnSubmit="@(() => Search())" class="searchBarWidth">

     <div class="input-group">
        <datalist id="suggestions">
            @if (MovieData?.Count() > 0)
            {
                @foreach (var movie in MovieData)
                {
                    <option value="@movie.Title">@movie.Overview</option>
                }
            }
        </datalist>
        <input class="form-control searchBarInput" autoComplete="on" list="suggestions" @bind="searchValue" @bind:event="oninput" @onfocusin="StartTimer" @onkeyup="HandleKeyUp" />
    
        <button class="input-group-text btn btn-danger" type="submit"> Search </button>
     </div>

</EditForm>


@code {
    [Inject]
    private HttpClient Http { get; set; }

    [Inject]
    NavigationManager NavManager { get; set; }

    [Inject]
    IConfiguration Configuration { get; set; }

    private MovieModel Movie { get; set; }
    private List<MovieModel> MovieData { get; set; }

    private MovieModel FormModel = new MovieModel();

    private string searchValue { get; set; }
    private string previousSearchValue { get; set; }

    private Timer aTimer;

    private async void GetMovies(Object source, ElapsedEventArgs e)
    {
        try
        {
            var result = await Http.GetFromJsonAsync<List<MovieModel>>($"{Configuration["apiUrl"]}/search/search-suggestions/{searchValue}");
            previousSearchValue = searchValue;
            MovieData = result;
            await InvokeAsync(StateHasChanged);
        }
        catch (Exception ex)
        {
            Console.WriteLine(ex);
        }

    }

    private void Search()
    {
        NavManager.NavigateTo($"{NavManager.BaseUri}search/{searchValue}");
    }

    void StartTimer(FocusEventArgs e)
    {
        aTimer = new Timer(1000);
        aTimer.Elapsed += (Object source, ElapsedEventArgs e) =>
        {
            if (searchValue != null && searchValue != previousSearchValue)
            {
                GetMovies(source, e);
            }
            else
            {
                aTimer.Start();
            }
            
        };
        aTimer.AutoReset = false;
    }

    void HandleKeyUp(KeyboardEventArgs e)
    {
        // remove previous one
        aTimer.Stop();

        // new timer
        aTimer.Start();        
    }    

    void IDisposable.Dispose()
    {
        aTimer?.Dispose();
    }
}
